<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hafizhmo.cuanaku">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuanAku"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.activities.budget.BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.transaction.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.splashscreen.SplashScreenActivity" />
        <activity android:name=".ui.activities.main.MainActivity" />
    </application>

</manifest>